:root {
    --activeFloorColor: #F26AAC;
    --gray: #ACACAC;
    --lightGray: #F2F2F2;
    --black: #212121;
    --white: #FCFCFC;
    --hoveredShop: #00A2D1;
    --emptyShop: #AAAAAA;
}

body {
    padding: 0;
}
.mapBlock {
    width: 1160px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    font-family: 'Myriad-pro', sans-serif;
    font-size: 14px;
}

.floors {
    width: 240px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}
.floor {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid black;
    font-weight: 200;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.floor.active {
    background-color: var(--activeFloorColor);
    color: white;
    font-weight: 600;
}

.search {
    width: 420px;
    position: absolute;
    left: 0;
    top: 0;
}
.search__bar {
    width: 100%;
    height: 26px;
    border: 1px solid var(--gray);
    box-sizing: border-box;
    padding-left: 40px;
}
.search__icon {
    position: absolute;
    top: 7px;
    left: 20px;
    pointer-events: none;
}
.search__result {
    width: 100%;
    height: 107px;
    display: grid;
    grid-template-columns: 88px auto;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 14px;
    padding: 8px;
    box-sizing: border-box;
    background-color: var(--lightGray);
    color: var(--black);
    cursor: pointer;
}
.search__resultPic {
    width: 88px;
    height: 88px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.search__resultTitle {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}
.search__resultDescription {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 12px;
    font-weight: 200;
}
.search__resultEmpty {
    width: 100%;
    height: 28px;
    padding: 4px;
    box-sizing: border-box;
    background-color: var(--lightGray);
    color: var(--black);
}

.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    width: 417px;
    height: 113px;
    display: grid;
    grid-template-columns: 88px auto;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 14px;
    padding: 13px 23px;
    box-sizing: border-box;
    background-color: var(--white);
    color: var(--black);
    transition: opacity 0.4s;
    border-radius: 8px;
    pointer-events: none;
}
.tooltip__pic {
    width: 88px;
    height: 88px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-radius: 8px;
}
.tooltip__title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}
.tooltip__description {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 12px;
    font-weight: 200;
}
.tooltip.hidden {
    opacity: 0;
    pointer-events: none;
}

.map svg {
    display: block;
    margin: 0 auto;
    padding-top: 100px;
}
.map svg.hidden {
    display: none;
}
.map path {
    transition: fill 0.25s;
}
.map path.highlighted {
    fill: var(--hoveredShop);
}
.map .clickable {
    cursor: pointer;
}
.map .empty {
    fill: var(--emptyShop);
}